<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <h2 class="text-center">Favorites</h2>
            <ul class="links">
                <li><a href="http://www.google.com" target="_blank">My favorite link 1</a></li>
                <li><a href="http://www.panthers.com" target="_blank">t vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</a></li>
                <li><a href="http://www.nfl.com" target="_blank">My favorite link 2</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    </div>
</div>
