@using Webtag.Models
@model DashboardVM

@section scripts {
    <script type="text/javascript">
        $(function ()
        {
            new Dashboard();
        });
    </script>
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <div class="clearfix">
                <h2 class="pull-left">Links</h2>
                <button class="pull-right fa fa-plus-square add-link"></button>
            </div>
            <div id="link-inputs" class="margin-bottom display-none">
                <input id="link-title" type="text" placeholder="Link title" class="full-width" />
                <input id="link-url" type="text" placeholder="Link url" class="full-width" />
                <span id="link-url-validation" class="field-validation-error display-none" data-valmsg-for="Email" data-valmsg-replace="true">Url format must match http://www.myurl.com</span>
                <button id="save-link-button">Save</button>
                <button id="cancel-link-button">Cancel</button>
            </div>
            @Html.Partial("_Links", Model.Links)
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    </div>
</div>
